/* app css stylesheet  #C5B8FF;
 */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.list {
  padding-left: 14px;
  padding-right: 18px;
}

.list-group-item {
  background-color: #C5B8FF;
}
.add-item {
  background-color: #C5B8FF;
}

.container-fluid {
  background-color: #2060ad;
}

.navbar-default .navbar-brand {
  color: white;
}

.submit{
  margin-left: 8px;
  background-color: #db841a;
  border: none;
}

.bkg-list{
  background-color: #00A347;
}
.bkg-lists{
  background-color: #db841a;
}
.bkg-user{
  background-color: #cd0be2;
}
.bkg-shops{
  background-color: #5bc0de;
}
.bkg-config{
  background-color: #ef1a33;
}
.bkg-register{
  background-color: #830044;
}
.bkg-admin{
  background-color: #9AFF60;
}
.ck-prod {
  float:left;
  width:140px;
}
.amt {
  display:inline-block;
  float:left;
  width:90px; 
/*  visibility: hidden;*/
}
.tags {
  display:inline-block;
  font-size: 12px;
  width:170px;
  visibilty:hidden;
}
.delx {
  display:inline-block;
  float: right;
}
.product {
  font-weight: bold;
  display:inline-block;
   padding-left: 8px;
}
.list-head {
  display:inline-block;
  padding-top: 45px;
  padding-left: 12px;
  padding-right: 10px;
  font-size: 18px;
}
.got-list-head {
  padding-left: 12px;
}
.list-add {
    padding-left: 12px;
}
.qty {
  display:inline-block;
  padding-right: 10px;
}
.unit {
  display:inline-block;
  padding-right: 15px;
}
li.need .edit {
  display:none;
}
li.editing {
  background-color: white
} 
li.editing .view{
  display:none;
}
li.editing .edit {
  display:inline-block;
}
/*.list-group-item:last-child{
  padding-bottom:30px;
}*/


@media all and (min-width: 42em){
  .col1 { float: left; width:50%; }
}
@media all and (min-width: 70em){
  .col1 { float: left; width:34%; }
}
