</br></br></br></br><p>Hey {{dog}}, this is the partial for admin.html </p>

<div class="input-group panel panel-default">
<div class='panel-body'>

<form name='AdminForm'>
  <div class='form-group'>
    <label>localStorage</label>{{isUser}}  
    <input type="text" class="form-control" ng-model='username' name='nameInp'>
  </div>
  <div class="input-group-btn">
  <button id= "btn_admin_find" class="btn btn-primary" ng-click="find()">find</button>
  <button id="btn_admin_del" class="btn btn-primary" ng-click="del()">del</button>
  <button id="btn_admin_listall" class="btn btn-primary" ng-click="listAll()">list all</button>
  </div>
  <div class="output">{{username}}{{output}}</div>
</form> 
</div>
</div>