<div class="bkg-list">
	<div>

	<div>
		
		<span class="list-head">{{shops}} </span><span>{{cnt}} items needed</span> 
		<ul class="list group" >
			<li ng-repeat="item in items | filter:{done:false} track by $id($index)" class="list-group-item">
				<input type="checkbox" ng-model="item.done">
				<span class="done-{{item.done}} product">{{item.product}}</span>
				<span class="qty" >{{item.amt.qty}}  </span>
				<span class="unit" >{{item.amt.unit}}</span>
				<i ng-click="remove(got)" class="pull-right glyphicon glyphicon-remove " ></i>  
				<!-- <i class="glyphicon glyphicon-chevron-down" ></i>  --> 
			</li>
		</ul> 	
		<form class="list-add" ng-submit="rubmit()">
			<input class="add-item" ng-model="query" placeholder='search old lists'>  
			<input class="submit" type="submit" id="submit2" value="Add" />
		</form>
		<span class="got-list-head">from old lists</span> 
		<ul class="list group" >
			<li ng-repeat="got in items | filter:{done:true} | filter:query track by $id($index)" class="list-group-item">
				<input class="ck-box" type="checkbox" ng-model="got.done">
				<span class="done-{{got.done}} product">{{got.product}}</span>
				<i ng-click="remove(got)" class="pull-right glyphicon glyphicon-remove " ></i>  
				<!-- <i class="glyphicon glyphicon-chevron-down" ></i>   -->
			</li>
		</ul>  
	</div>
</div> 
<div ng-controller="TimeCtrl">
	<h1>stuff2get</h1>
	<button ng-click="addUser()" >add user</button>
	<form ng-submit="tubmit()" >
		<input type="submit" id="time-stamp" value="timeStamp"/>
	</form>
	<p>{{timestamp}} </p>
</div>
</div>