
<div class="bkg-user col1" ng-click="update()" ng-controller="UserCtrl">
	

</br></br></br>
<p>
	<span class="glyphicon glyphicon-signal" ng-show="online"></span>
	<span class="glyphicon glyphicon-ban-circle" ng-show="!online"></span>
	Hey {{users.al.activeUser}} {{message}}
</p>
<div>
	<ul class="list-group">
		<li ng-repeat="user in users.al.userList track by $index" class="list-group-item lists" ng-class="{editing: user==editedUser}" > 
			<span class="view">
				<i ng-click="edit(user)" class="delx glyphicon glyphicon-pencil ispace" ng-show="online"></i> 
				<i ng-click="remove(user)" class="delx glyphicon glyphicon-remove ispace" ng-show="online"></i>
				<span ng-click="makeActive(user)" class="list-name">{{user}}</span><br>
			</span>	
			<span class="edit">
				<form ng-submit="doneEditing(user)" accept-charset="utf-8">

					<input type="email" ng-trim="false" ng-model="user" item-escape="revertEdit(list)" size="18"  ></span>
				</form>	
			</span>  
		</li>
	</ul>
	<a type="button" ng-click="goRegister()" class="label bkg-register">Add User</a>
</div>
</div>


